---
title:  middleman-bootstrap
layout: default
---

<%= partial 'partials/drawer' %>
<div class="main container">
  <%= partial 'partials/alert'    %>
  <%= partial 'partials/controls' %>
  <%= partial 'partials/console'  %>
</div>
<div class="container">
  <%= partial 'partials/results'  %>
</div>
