---
title:  middleman-bootstrap
layout: default
---
<div class="main container">
  <%= partial 'partials/alert'    %>
  <%= partial 'partials/controls' %>
  <%= partial 'partials/display'  %>
  <%= partial 'partials/drawer'   %>
</div>
<%= javascript_include_tag :app, relative: true %>
